---
import { Image } from "astro:assets";
import Navbar from "../components/Navbar.astro";
import logo from "../assets/images/logo.svg";
---
<div class="grid grid-cols-2 bg-[#6E7F59] py-10 lg:pr-12 lg:p-4 fixed w-full overflow-hidden">
    <a href="#">
    <Image src={logo} alt="bin" class="w-34 lg:w-1/4 mx-8 lg:mx-16" />
    </a>
    <Navbar>
  </div>
