---
import Button from "../components/Button.astro";
---

<div class="text-center mt-20">
  <span class="text-[#3C4A30] pt-12 text-xl lg:pt-20">
    Sorterer du dit digitale skrald?
  </span>
  <h1 class="text-[#3C4A30] pt-5 text-5xl lg:text-7xl">Digital skraldedag</h1>
  <h3 class="text-[#3C4A30] text-2xl font-semibold pt-5 pb-4 lg:pt-10">
    Deltag den 14. marts 2024
  </h3>
</div>

<div class="flex justify-center mt-10 lg:pb-0 pb-14">
  <a href="#sektion6"
    ><Button variant="secondary" size="large">Tilmeld</Button></a
  >
</div>
